STATE OF DELAWARE
CERTIFICATE OF FORMATION
OF LIMITED LIABILITY COMPANY

The undersigned authorized person, desiring to form a limited liability company pursuant to the Delaware Limited Liability Company Act, hereby certifies as follows:

1. The name of the limited liability company is {{ business_name }}, LLC.

2. The Registered Office of the limited liability company in the State of Delaware is located at {{ registered_agent_address }} (street), in the City of {{ registered_agent_city }}, County of {{ registered_agent_county }} Zip Code {{ registered_agent_zip }}. The name of the Registered Agent at such address upon whom process against this limited liability company may be served is {{ registered_agent_name }}.

3. The purpose of the company is to engage in any lawful act or activity for which limited liability companies may be formed under the Delaware Limited Liability Company Act.

4. The latest date on which the limited liability company is to dissolve is: [  ] No specified dissolution date.

5. The name and address of the authorized person executing this Certificate of Formation is:

Name: {{ owner_name }}
Address: {{ owner_address }}

IN WITNESS WHEREOF, the undersigned has executed this Certificate of Formation this {{ formation_date }}.

______________________________
{{ owner_name }}
Authorized Person
