ARTICLES OF ORGANIZATION
FOR
{{ business_name }}, LLC

The undersigned person(s) hereby establish a Limited Liability Company pursuant to the Wyoming Limited Liability Company Act and adopt the following Articles of Organization:

ARTICLE 1: NAME
The name of the Limited Liability Company is {{ business_name }}, LLC.

ARTICLE 2: PRINCIPAL OFFICE
The physical address of the principal office is:
{{ business_address }}

ARTICLE 3: REGISTERED AGENT
The name and address of the registered agent for service of process is:
{{ registered_agent_name }}
{{ registered_agent_address }}
{{ registered_agent_city }}, WY {{ registered_agent_zip }}

ARTICLE 4: MAILING ADDRESS
The mailing address for the limited liability company is:
{{ mailing_address if mailing_address else business_address }}

ARTICLE 5: TERM
The period of duration for the limited liability company is:
[X] Perpetual
[ ] The limited liability company will terminate on: ____________

ARTICLE 6: MANAGEMENT
Management of the limited liability company shall be vested in:
[X] Its Member(s)
[ ] One or More Managers

ARTICLE 7: PURPOSE
The purpose for which the limited liability company is organized is to engage in any and all lawful business for which limited liability companies may be organized under the Wyoming Limited Liability Company Act.

ARTICLE 8: ORGANIZER
The name and address of the organizer is:
{{ owner_name }}
{{ owner_address }}

EXECUTION
The undersigned organizer executes these Articles of Organization and certifies that the statements contained herein are true and correct.

Dated: {{ formation_date }}

______________________________
{{ owner_name }}
Organizer

Filing Fee: $100.00
Submit to:
Wyoming Secretary of State
2020 Carey Avenue, Suite 700
Cheyenne, WY 82002-0020
